<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Record</title>
</head>
<body>
<h1>Edit Address</h1>
<br>
<div>

    <form action="#" th:action="@{/update}" th:object="${adresy}" method="post">
        <table border="1" cellpadding="10">
            <tr>
                <td>ID:</td>
                <td><input type="text" th:field="*{idadresu}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Miejscowość:</td>
                <td><input type="text" th:field="*{miejscowosc}"></td>
            </tr>
            <tr>
                <td>Ulica:</td>
                <td><input type="text" th:field="*{ulica}"></td>
            </tr>
            <tr>
                <td>Numer Domu:</td>
                <td><input type="text" th:field="*{nrdomu}"></td>
            </tr>
            <tr>
                <td>Kod Pocztowy:</td>
                <td><input type="text" th:field="*{kodpocztowy}"></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>