<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">BDBT Project Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:lightsteelblue;">Signed in as <b>[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Hello, [[${#httpServletRequest.remoteUser}]]!</h1>
        <p class="lead">This is your personalized dashboard where you can manage orders, and payments.</p>
        <hr class="my-4">
        <p>Use the buttons below to view details or log out.</p>
        <a class="btn btn-info btn-lg" href="#" role="button" th:href="@{/TowaryUser}">View Products</a>
        <a class="btn btn-info btn-lg" href="#" role="button" th:href="@{/ZamowieniaUser}">My Orders</a>
        <form method="post" th:action="@{/logout}" class="mt-2">
            <button class="btn btn-danger btn-lg" type="submit">Logout</button>
        </form>
    </div>
</div>


<script src="/webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="/webjars/popper.js/umd/popper.min.js" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="/js/script.js" th:src="@{/js/script.js}"></script>

</body>
</html>
