<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main User Page</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">BDBT Spring Boot Project - Part II</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Home</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#">Main
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">

        <div class="col-md-10 mt-5">
            <form method="post" th:action="@{/index}">
                <div class="form-group">
                    <label style="font-size:30px" th:inline="text">Welcome <a
                            style="color:lightskyblue; text-transform:capitalize"><b>[[${#httpServletRequest.remoteUser}]]</b></a>
                        to the main page!</label>
                    <div style="font-size:20px">If you want to logout, click "Logout" button under this text.</div>
                </div>
                <div>
                    <h2 style="text-align: center">Adress table</h2>

                    <!-- Table -->
                    <table border = "1" cellpadding = "10">
                        <!-- Table header -->
                        <thead>
                        <tr> <!-- Table row -->
                            <th>idadresu</th>
                            <th>miejscowosc</th>
                            <th>ulica</th>
                            <th>nrdomu</th>
                            <th>kodpocztowy</th>
                        </tr>
                        </thead>
                        <!-- Table body -->
                        <tbody>
                        <tr th:each = "adresy : ${adresyTable}">
                            <td th:text = "${adresy.idadresu}">idadresu</td>
                            <td th:text = "${adresy.miejscowosc}">miejscowosc</td>
                            <td th:text = "${adresy.ulica}">ulica</td>
                            <td th:text = "${adresy.nrdomu}">nrdomu</td>
                            <td th:text = "${adresy.kodpocztowy}">kodpocztowy</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <a href="/newAddressRecord" style="text-align: center; text-decoration: none; font-size: larger"  >Add New Address</a>


                <button class="btn btn-primary" type="submit" onclick="successfullyLogout()" value="Sign Out">Logout
                </button>


            </form>
        </div>

    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>